body{
	background-size: cover;
    background-repeat: no-repeat;	
}

	
.button{
  background-color: transparent; 
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 15px;
  position: absolute;
  display: inline-block;
  padding: 1% 4%;
  text-decoration: none;
  color: #DDE3E9;
  border: 0.5px solid #4E668C;
  border-radius: 5px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  z-index:4;
  top:75%;
  left:41%;
}

.button:hover {
  background-color: #41495C;
  color: white;
  border:none;
  
}

.bg1{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	left:80px;
	top:0px;
	position:absolute;
	animation:down 4s infinite;
	animation-direction:alternate;
	z-index:2;
}

.bg2{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	left:0px;
	top:100px;
	position:absolute;
	animation:up 4s infinite;
	animation-direction:alternate;
	z-index:3;
}

@keyframes down{
	0%
	{
		transform:translateY(0px);
	}
	100%
	{
		transform:translateY(50px);
	}
}

@keyframes up{
	0%
	{
		transform:translateY(0px);
	}
	100%
	{
		transform:translateY(-50px);
	}
}
