<html>
<head>
<title>sgmrtServer API Information</title>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<script src="./jquery.min.js"></script>
<div id="container">
	<h1>
		Flickr DB API
	</h1>

	<h2>
	 Data Endpoints
	</h2>

	<p>
		http://dev.spatialdatacapture.org:8876/data/flow - <a href="http://dev.spatialdatacapture.org:8876/data/flow" target="_BLANK">Example</a><br/>
		<b>Returns all photos inside our flickr photo databse with a radius (in meters) for a given lat/lng point</b>
	</p>

	<p>
		http://dev.spatialdatacapture.org:8876/data/centrality/:time - <a href="http://dev.spatialdatacapture.org:8870/data/centrality/7" target="_BLANK">Example</a> <br/>
		<b>Returns a single photos metadata inside our flickr photo databse for a given Photo ID</b>

	</p>

	<p>
			http://dev.spatialdatacapture.org:8860/data/flow/:stations_ID - < a href=" " target="_BLANK">Example</ a><br/>
			<b>Returns the flow over time of a specific station</b>
		</p >

		<p>
			http://dev.spatialdatacapture.org:8860/data/cen/:stations_ID - < a href="http://dev.spatialdatacapture.org:8860/data/cen/BP1" target="_BLANK">Example</ a><br/>
			<b>Returns the centrality over time of a specific station</b>
		</p >

		<p>
			http://dev.spatialdatacapture.org:8860/data/intop/:time/:stations_ID - < a href="http://dev.spatialdatacapture.org:8860/data/intop/9/BP1" target="_BLANK">Example</ a><br/>
			<b>Returns the top 5 in flow stations of a specific station at a specific time</b>
		</p >

		<p>
			http://dev.spatialdatacapture.org:8860/data/outtop/:time/:stations_ID - < a href="http://dev.spatialdatacapture.org:8860/data/outtop/9/BP1" target="_BLANK">Example</ a><br/>
			<b>Returns the top 5 out flow stations of a specific station at a specific time</b>
		</p >

</div>
</body>
</html>
